In [1]:
pip install kafka-python

Collecting kafka-python
  Downloading kafka_python-2.1.4-py2.py3-none-any.whl.metadata (9.1 kB)
Downloading kafka_python-2.1.4-py2.py3-none-any.whl (276 kB)
   ---------------------------------------- 0.0/276.6 kB ? eta -:--:--
   ---------------------------------------- 0.0/276.6 kB ? eta -:--:--
   - -------------------------------------- 10.2/276.6 kB ? eta -:--:--
   ---- ---------------------------------- 30.7/276.6 kB 217.9 kB/s eta 0:00:02
   -------- ------------------------------ 61.4/276.6 kB 363.1 kB/s eta 0:00:01
   ------------------- ------------------ 143.4/276.6 kB 711.9 kB/s eta 0:00:01
   ---------------------------------------  276.5/276.6 kB 1.1 MB/s eta 0:00:01
   ---------------------------------------- 276.6/276.6 kB 1.1 MB/s eta 0:00:00
Installing collected packages: kafka-python
Successfully installed kafka-python-2.1.4
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [3]:
producer = KafkaProducer(bootstrap_servers=['{your Publlic IP}:9092'], #change ip here
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [5]:
producer.send('demo_test',value="{'nckjvnac':'bvcjhc'}")

In [7]:
df=pd.read_csv("lap_times_with_precise_milliseconds.csv")

In [9]:
df.head()

,timestamp,driver_id,driver_name,lap_number,lap_time_sec,cumulative_time_sec,position,lap_time_formatted
0,2025-04-04 17:24:24,5,Carlos Sainz,1,86.38,86.38,1,01:26.380
1,2025-04-04 17:24:37,18,Oscar Piastri,1,87.12,87.12,2,01:27.120
2,2025-04-04 17:24:26,7,Fernando Alonso,1,88.19,88.19,3,01:28.190
3,2025-04-04 17:24:31,12,Kevin Magnussen,1,88.53,88.53,4,01:28.530
4,2025-04-04 17:24:32,13,Yuki Tsunoda,1,89.10,89.10,5,01:29.100

In [11]:
df.sample(1).to_dict(orient="records")[0]

{'timestamp': '2025-04-04 17:51:06',
 'driver_id': 7,
 'driver_name': 'Fernando Alonso',
 'lap_number': 41,
 'lap_time_sec': 94.69,
 'cumulative_time_sec': 3760.66,
 'position': 4,
 'lap_time_formatted': '01:34.690'}

In [13]:
while True:
    dict_lap_time=df.sample(1).to_dict(orient="records")[0]
    producer.send('demo_test',value=dict_lap_time)
    sleep(1)

KeyboardInterrupt:

In [80]:
producer.flush()